@font-face {
    font-family: 'LiuJianMaoCao-Regular';
    src: url("./font/LiuJianMaoCao-Regular.ttf") format('truetype');
}

.search-text {
    font-size: 20px;
    color: #f00;
    font-family: 'LiuJianMaoCao-Regular';
}
